@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/animations.css";
@import "./styles/components.css";

@theme {
  --color-border: var(--border-color);
  --color-background: var(--bg-page);
  --color-foreground: var(--text-primary);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    animation: initialLoad 0.5s ease-out;
  }
}
